@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Tùy chỉnh scroll bar (nếu Sidebar có scroll) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
